div {
    background-color: yellow;
}

/* form {
    background-color: brown;
} */

input {
    background-color: inherit;

}

button {
    background-color: inherit;
}

button:hover {
    background-color: pink;
}